<% provide(:title, "Home") %>
<% content_for :navigation do %>
  <%= link_to about_path do %>
  <h2>About</h2>
  <% end %>
  <%= link_to comics_path do %>
  <h2>Comics</h2>
  <% end %>
  <%= link_to coding_path do %>
  <h2>Code</h2>
  <% end %>
<% end %>
<main class="width-limit-large">
<div class="home-top display-large"></div>
<div class="xl-button">
  
  <h2 class="v-text">Click here to change the picture</h2>
</div>
<div class="row-home-1">
  <%= link_to about_path do %>
  <h1>Alex Webbb dot com</h1>
  <h2>The home of Alex Webb</h2>
  <% end %>
  <p>My name is Alex Webb (only two B's) and I am an artist and developer from Austin, TX. I am the <a href="http://en.wikipedia.org/wiki/Risograph">risograph</a> operator for <a href="http://www.roughhousecomics.com">Rough House</a> and <a href="http://www.rawpawatx.com">Raw Paw</a>, I write and illustrate my own comics, and I make websites. Have a look around!</p>
</div>
<div class="home-top display-small"></div>
<%= link_to comics_path do %>
<div class="row-home-2 comics">
  <h1>Comics & Illustration</h1>
  <h2>Check out my personal work.</h2>
  <figure></figure>
</div>
<% end %>
<div class="home-bottom display-small"></div>
<%= link_to coding_path do %>
<div class="row-home-3 coding">
  <h1>Coding Portfolio</h1>
  <h2>Check out examples of my code.</h2>
  <figure></figure>
</div>
<% end %>
<div class="home-bottom display-large display-not-xl"></div>
