<% provide(:title, "Home") %>
<% content_for :navigation do %>
  <h2>Home</h2>
  <h2>About</h2>
  <h2>Code</h2>
<% end %>

<main class="comics">


  <div class="row-d">
    <h1>Comics & Illustration</h1>
    <h2>Here you can see my comics, illustrations, and photography projects.</h2>
    <p></p>
  </div>
  
  <div class="row-e">
    <h2>Make a selection</h2>
    <div class="gallery">
      <figure><img></img><figcaption><h2>Howdy!</h2></figcaption></figure>
      <figure><img></img><figcaption><h2>Howdy!</h2></figcaption></figure>
      <figure><img></img><figcaption><h2>Howdy!</h2></figcaption></figure>
      <figure><img></img><figcaption><h2>Howdy!</h2></figcaption></figure>
      <figure><img></img><figcaption><h2>Howdy!</h2></figcaption></figure>
      <figure><img></img><figcaption><h2>Howdy!</h2></figcaption></figure>
    </div>
  </div>
  
  <div class="row-f">
    <h2>A description of the images will appear here</h2>
    <p>Here I will describe each set of pictures in greater detail</p>
  </div>

  <div class="images">
  <div class="g1">
    <%= image_tag("horse lady/horse lady 1.jpg", alt: "Horse Lady 1") %>
    <%= image_tag("horse lady/horse lady 2.jpg", alt: "Horse Lady 2") %>
    <%= image_tag("horse lady/horse lady 3.jpg", alt: "Horse Lady 3") %>
  </div>

  <div class="g2">
    <%= image_tag("rh2/rh2 1.jpg", alt: "Rough House 2 Page 1") %>
    <%= image_tag("rh2/rh2 2.jpg", alt: "Rough House 2 Page 2") %>
    <%= image_tag("rh2/rh2 3.jpg", alt: "Rough House 2 Page 3") %>
    <%= image_tag("rh2/rh2 4.jpg", alt: "Rough House 2 Page 4") %>
    <%= image_tag("rh2/rh2 5.jpg", alt: "Rough House 2 Page 5") %>
    <%= image_tag("rh2/rh2 6.jpg", alt: "Rough House 2 Page 6") %>
    <%= image_tag("rh2/rh2 7.jpg", alt: "Rough House 2 Page 7") %>
    <%= image_tag("rh2/rh2 8.jpg", alt: "Rough House 2 Page 8") %>
    <%= image_tag("rh2/rh2 9.jpg", alt: "Rough House 2 Page 9") %>
    <%= image_tag("rh2/rh2 10.jpg", alt: "Rough House 2 Page 10") %>
  </div>

  <div class="g3">
    <%= image_tag("gil trade comic/gillian trade comic 1.jpg", alt: "Whale Chumps Page 1") %>
    <%= image_tag("gil trade comic/gillian trade comic 2.jpg", alt: "Whale Chumps Page 2") %>
    <%= image_tag("gil trade comic/gillian trade comic 3.jpg", alt: "Whale Chumps Page 3") %>
    <%= image_tag("gil trade comic/gillian trade comic 4.jpg", alt: "Whale Chumps Page 4") %>
    <%= image_tag("gil trade comic/gillian trade comic 5.jpg", alt: "Whale Chumps Page 5") %>
    <%= image_tag("gil trade comic/gillian trade comic 6.jpg", alt: "Whale Chumps Page 6") %>
    <%= image_tag("gil trade comic/gillian trade comic 7.jpg", alt: "Whale Chumps Page 7") %>
    <%= image_tag("gil trade comic/gillian trade comic 8.jpg", alt: "Whale Chumps Page 8") %>
  </div>

  <div class="g4">
    <%= image_tag("rh1/page-1.jpg", alt: "Rough House 1 Page 1") %>
    <%= image_tag("rh1/page-2.jpg", alt: "Rough House 1 Page 2") %>
    <%= image_tag("rh1/page-3.jpg", alt: "Rough House 1 Page 3") %>
    <%= image_tag("rh1/page-4.jpg", alt: "Rough House 1 Page 4") %>
    <%= image_tag("rh1/page-5.jpg", alt: "Rough House 1 Page 5") %>
    <%= image_tag("rh1/page-6.jpg", alt: "Rough House 1 Page 6") %>
    <%= image_tag("rh1/page-7.jpg", alt: "Rough House 1 Page 7") %>
    <%= image_tag("rh1/page-8.jpg", alt: "Rough House 1 Page 8") %>
  </div>

  <div class="g5 active">
    <%= image_tag("shirt design/shirt design.jpg", alt: "'You call this shit music?' T-Shirt Design") %>
  </div>

  <div class="g6">
    <%= image_tag("sass lass/sass 1.jpg", alt: "Sass Lass Page 1") %>
    <%= image_tag("sass lass/sass 2.jpg", alt: "Sass Lass Page 2") %>
    <%= image_tag("sass lass/sass 3.jpg", alt: "Sass Lass Page 3") %>
    <%= image_tag("sass lass/sass 4.jpg", alt: "Sass Lass Page 4") %>
    <%= image_tag("sass lass/sass 5.jpg", alt: "Sass Lass Page 5") %>
  </div>

  <div>


</main>