<% provide(:title, "Home") %>
<% content_for :navigation do %>
  <%= link_to root_path do %>
  <h2>Home</h2>
  <% end %>
  <%= link_to about_path do %>
  <h2>About</h2>
  <% end %>
  <%= link_to coding_path do %>
  <h2>Code</h2>
  <% end %>
<% end %>

<main class="comics">


  <div class="row-d">
    <h1>Comics & Illustration</h1>
    <h2>Here you can see my comics, illustrations, and photography projects.</h2>
    <p></p>
  </div>
  
  <div class="row-e">
    <h2>Make a selection</h2>
    <div class="gallery">
      <figure ><img class="p1"></img><figcaption><h2>Horse Lady</h2></figcaption></figure>
      <figure ><img class="p2"></img><figcaption><h2>Doctor Dude</h2></figcaption></figure>
      <figure ><img class="p3"></img><figcaption><h2>Whale Chums</h2></figcaption></figure>
      <figure ><img class="p4"></img><figcaption><h2>Hand Wash</h2></figcaption></figure>
      <figure ><img class="p5"></img><figcaption><h2>Shit Music</h2></figcaption></figure>
      <figure ><img class="p6"></img><figcaption><h2>Sass Lass</h2></figcaption></figure>
    </div>
  </div>
  
  <div class="row-f">
    <article class="default active">
    <h1>A description of the images will appear here</h1>
    <p>Here I will describe each set of pictures in greater detail</p>
    </article>
    <article class="g1"><h1>Horse Lady</h1><p>I drew these for a local newspaper for their comics section. It is the tale of a woman who uses her affinity for horses to help humanity. This is a continuing series, keep an eye on this site for future panels. This is a widescreen comic, so be sure to use the scroll bar at the bottom of each panel.</p></article>
    <article class="g2"><h1>Doctor Dude</h1><p>This was my submission for our annual comics anthology Rough House in the year 2014. It is about a man who is driven to distraction by his white collar job, abandoning his child in a parking lot in the process. It features former Mr. Big guitarist Paul Gilbert giving advice and Rough House Artist Tyler Suder as the abandoned child.</p>
    <p>These images are scans of the pages from our most recent anthology, available at <%= link_to "Rough House Comics dot com", "http://www.roughhousecomics.com/" %>.</p>
    </article>
    <article class="g3 scroll"><h1>Whale Chums</h1><p>This story was written by my good friend and fellow Rough Houser Gillian Rhodes. This comic was published in an unusual two sided comic (a cover on each side) which featured a story written by me and drawn by Gillian, and vice versa. According to Gil this story is about alien entities that have been living for years inside the bodies of abused Sea World dolphins, one of which escapes by possessing the body of a gullible man brought to the facility by a friend of the alien, possibly another possessed human. Of course you are free to interpret it any way you like.</p>
    <p>The comic was published in colorful red and blue (these images are an approximation derived from my original photoshop files), and is available at <%= link_to "Rough House Comics dot com", "http://www.roughhousecomics.com/" %>.</p></article>
    <article class="g4"><h1>Hand Wash</h1><p>This comic was my contribution to the first Rough House anthology, and is about the power of hand shakes. Unfortunately we are low on copies of the first Rough House so it is unfortunately not for sale currently.</p></article>
    <article class="g5"><h1>Shit Music</h1><p>This particular item is a T-Shirt design beautifully printed by Cog Dut.</p></article>
    <article class="g6"><h1>Sass Lass</h1><p>Although this comic may appear to be incoherent, it is actually a tightly plotted sci fi thriller/adventure. It will probably make more sense when it is done, it is a continuing series. Keep an eye on this site for new pages.</p></article>

  </div>

  <div class="images">
  <div class="g1">
  <figure class ="scroll">
  <div class="nested">
    <%= image_tag("horse lady/horse lady 1.jpg", alt: "Horse Lady 1") %>
    </div>
  </figure>
  <p>cat</p>
  <figure class ="scroll">
  <div class="nested">
    <%= image_tag("horse lady/horse lady 2.jpg", alt: "Horse Lady 2") %>
    </div>
  </figure>
  <figure class ="scroll">
  <div class="nested">
    <%= image_tag("horse lady/horse lady 3.jpg", alt: "Horse Lady 3") %>
    </div>
  </figure>
  </div>

  <div class="g2">
    <%= image_tag("rh2/rh2 1.jpg", alt: "Rough House 2 Page 1") %>
    <%= image_tag("rh2/rh2 2.jpg", alt: "Rough House 2 Page 2") %>
    <%= image_tag("rh2/rh2 3.jpg", alt: "Rough House 2 Page 3") %>
    <%= image_tag("rh2/rh2 4.jpg", alt: "Rough House 2 Page 4") %>
    <%= image_tag("rh2/rh2 5.jpg", alt: "Rough House 2 Page 5") %>
    <%= image_tag("rh2/rh2 6.jpg", alt: "Rough House 2 Page 6") %>
    <%= image_tag("rh2/rh2 7.jpg", alt: "Rough House 2 Page 7") %>
    <%= image_tag("rh2/rh2 8.jpg", alt: "Rough House 2 Page 8") %>
    <%= image_tag("rh2/rh2 9.jpg", alt: "Rough House 2 Page 9") %>
    <%= image_tag("rh2/rh2 10.jpg", alt: "Rough House 2 Page 10") %>
  </div>

  <div class="g3">
    <%= image_tag("gil trade comic/gillian trade comic c.jpg", alt: "Whale Chumps Page 1") %>
    <%= image_tag("gil trade comic/gillian trade comic 1.jpg", alt: "Whale Chumps Page 1") %>
    <%= image_tag("gil trade comic/gillian trade comic 2.jpg", alt: "Whale Chumps Page 2") %>
    <%= image_tag("gil trade comic/gillian trade comic 3.jpg", alt: "Whale Chumps Page 3") %>
    <%= image_tag("gil trade comic/gillian trade comic 4.jpg", alt: "Whale Chumps Page 4") %>
    <%= image_tag("gil trade comic/gillian trade comic 5.jpg", alt: "Whale Chumps Page 5") %>
    <%= image_tag("gil trade comic/gillian trade comic 6.jpg", alt: "Whale Chumps Page 6") %>
    <%= image_tag("gil trade comic/gillian trade comic 7.jpg", alt: "Whale Chumps Page 7") %>
    <%= image_tag("gil trade comic/gillian trade comic 8.jpg", alt: "Whale Chumps Page 8") %>
  </div>

  <div class="g4">
    <%= image_tag("rh1/page-1.jpg", alt: "Rough House 1 Page 1") %>
    <%= image_tag("rh1/page-2.jpg", alt: "Rough House 1 Page 2") %>
    <%= image_tag("rh1/page-3.jpg", alt: "Rough House 1 Page 3") %>
    <%= image_tag("rh1/page-4.jpg", alt: "Rough House 1 Page 4") %>
    <%= image_tag("rh1/page-5.jpg", alt: "Rough House 1 Page 5") %>
    <%= image_tag("rh1/page-6.jpg", alt: "Rough House 1 Page 6") %>
    <%= image_tag("rh1/page-7.jpg", alt: "Rough House 1 Page 7") %>
    <%= image_tag("rh1/page-8.jpg", alt: "Rough House 1 Page 8") %>
  </div>

  <div class="g5">
    <%= image_tag("shirt design/shirt design.jpg", alt: "'You call this shit music?' T-Shirt Design") %>
  </div>

  <div class="g6">
    <%= image_tag("sass lass/sass 1.jpg", alt: "Sass Lass Page 1") %>
    <%= image_tag("sass lass/sass 2.jpg", alt: "Sass Lass Page 2") %>
    <%= image_tag("sass lass/sass 3.jpg", alt: "Sass Lass Page 3") %>
    <%= image_tag("sass lass/sass 4.jpg", alt: "Sass Lass Page 4") %>
    <%= image_tag("sass lass/sass 5.jpg", alt: "Sass Lass Page 5") %>
  </div>

  <div>


</main>